@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Avenir";
  src: local("Avenir"), local("AvenirLTStd65Mediumtr"), url("../components/assets/fonts/avenir/AvenirLTStd65Mediumtr.eot?#iefix") format("embedded-opentype"),
    url("../components/assets/fonts/avenir/AvenirLTStd65Mediumtr.otf") format("opentype"), url("../components/assets/fonts/avenir/AvenirLTStd65Mediumtr.woff") format("woff"),
    url("../components/assets/fonts/avenir/AvenirLTStd65Mediumtr.ttf") format("truetype"),
    url("../components/assets/fonts/avenir/AvenirLTStd65Mediumtr.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: Avenir;

}

.menuItem:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

/* 
ANTD CARD */
.card-wrapper {
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.09);
  background-color: #ffffff;
  padding: 20px 24px 15px 24px;
  transition-duration: 0.3s;
  margin-bottom: 16px;
  border-radius: 5px;
}

.card-wrapper.face-ghost {
  background-color: transparent;
  box-shadow: none;
}

.card-wrapper.face-ghost.has-hover-effect,
.card-wrapper.face-ghost.has-over-effect:hover {
  box-shadow: none;
}

.card-wrapper.has-hover-effect:hover {
  box-shadow: 0 5px 16px 0 rgba(0, 0, 0, 0.2);
}

/* ANTD FORM-ITEM */
.form-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  position: relative;
}

.form-item.horizontal {
  flex-direction: row;
  flex-wrap: nowrap;
}

.form-item.horizontal .form-item-label {
  flex-basis: 30%;
}

.form-item.horizontal .form-item-input {
  flex-basis: 70%;
}

.form-item .form-item-label {
  width: 100%;
  margin-bottom: 5px;
  font-family: Avenir;
  font-size: 14px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  transition-duration: .3s;
  min-height: 16px;
}

.form-item .form-item-input {
  width: 100%;
}

.form-item .form-item-error {
  position: absolute;
  right: 3px;
  top: 5px;
  font-size: 11px;
  color: #fa4c35;
  opacity: 0;
  transition-duration: 0.3s;
  transform: translateY(5px);
}

.form-item.has-error .form-item-error {
  opacity: 1;
  transform: translateY(0px);
}

.form-item.has-error .form-item-label {
  color: rgba(250, 76, 53, 0.8);
}

.form-item.has-error .form-item-input * {
  border-color: rgba(250, 76, 53, 0.8);
  transition-duration: .3s;
}


/* INPUT  */
.input-wrapper {
  width: 100%;
  position: relative;

  align-items: center;
}

.input-wrapper .input-item {
  font-size: 14px;
  width: 100%;
  max-width: 100%;
  height: 40px;
  border: 1px solid #cccccc;
  padding: 10px 16px;
  border-radius: 3px;
  font-family: inherit;
}

.input-wrapper .input-item-small {
  height: 30px;
  font-size: 12px;
}

.input-wrapper .input-item.has-icon {
  padding-left: 40px;
}

.input-wrapper .input-item::placeholder {
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #a7a7a7;
  opacity: 0.8;
}

.input-wrapper input:-webkit-autofill,
.input-wrapper input:-webkit-autofill:hover,
.input-wrapper input:-webkit-autofill:focus,
.input-wrapper textarea:-webkit-autofill,
.input-wrapper textarea:-webkit-autofill:hover,
.input-wrapper textarea:-webkit-autofill:focus,
.input-wrapper select:-webkit-autofill,
.input-wrapper select:-webkit-autofill:hover,
.input-wrapper select:-webkit-autofill:focus {
  border: 1px solid #a7a7a7;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 100px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}

.input-wrapper textarea {
  min-height: 80px;
  resize: none;
}

.input-wrapper .input-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  color: #a7a7a7;
  transform: translateY(-51%);
}

.input-wrapper .input-suffix {
  position: absolute;
  right: 30px;
}



/* SELECT */
.uniteAd__control {
  min-height: 40px !important;
}

.uniteAd__control.css-qg19kw-control,
.uniteAd__control.uniteAd__control--is-focused,
.uniteAd__control.uniteAd__control--is-disabled,
.uniteAd__control.uniteAd__control--is-loading {
  min-height: 40px;
}

.uniteAd__control--is-focused input:focus {
  box-shadow: none;
  transition-duration: .1s;
}

.uniteAd__menu {
  margin-top: 2px !important;
}


/*FORM ITEM */

.form-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  position: relative;
}

.form-item.horizontal {
  flex-direction: row;
  flex-wrap: nowrap;
}

.form-item.horizontal .form-item-label {
  flex-basis: 30%;
}

.form-item.horizontal .form-item-input {
  flex-basis: 70%;
}

.form-item .form-item-label {
  width: 100%;
  margin-bottom: 5px;
  font-family: Avenir;
  font-size: 14px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  transition-duration: .3s;
  min-height: 16px;
}

.form-item .form-item-input {
  width: 100%;
}

.form-item .form-item-error {
  position: absolute;
  right: 3px;
  top: 5px;
  font-size: 11px;
  color: #fa4c35;
  opacity: 0;
  transition-duration: 0.3s;
  transform: translateY(5px);
}

.form-item.has-error .form-item-error {
  opacity: 1;
  transform: translateY(0px);
}

.form-item.has-error .form-item-label {
  color: rgba(250, 76, 53, 0.8);
}

.form-item.has-error .form-item-input * {
  border-color: rgba(250, 76, 53, 0.8);
  transition-duration: .3s;
}

/*Confirm Alert Css*/
.react-confirm-alert-body {
  width: fit-content !important;
}

.react-confirm-alert-body>h1 {
  font-size: 19px;
  font-weight: 600;
  margin-top: -10px;

}